.container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: pink;
  justify-content: space-between;
  /* justify-content: space-between; */
}

.item {
  flex-grow: 1;
  min-width: 20px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
}

.start-item {
  min-width: 40px;
  flex-grow: 2;
  /* align-self: flex-start; */
}

.end-item {
  min-width: 10px;
  flex-grow: 0.5;
  /* align-self: flex-end; */
}
